/* Purple: 320853 Yellow: FFF000 */
/* Orange: FF9600 */
/* Light purple: 4B006E */
/* Dreamwave purple: 9619FA */


.shimmer {
  color: white;
  display:inline-block;
  mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/400% 100%;
  background-repeat: no-repeat;
  animation: shimmer 2.5s infinite;
}

.RoundHeaderLeft {
    width: 400px;
    height: 82px;
    background: linear-gradient(to right, #FF9600, #FF9600, #FF960000);
    transform: skewX(-12deg);
    margin-left: -15px;
    padding-left: 50px;
    color: #320853;
    text-shadow: #FFF000 3px 3px 1px;
}

.RoundHeaderLeft strong {
    color: #FFF000;
    text-shadow: none;
}

.SubRoundHeaderLeft {
    width: 350px;
    height: 58px;
    background: linear-gradient(to right, #320853, #320853,#32085300);
    transform: skewX(-12deg);
    margin-left: -15px;
    padding-left: 50px;
    color: #9619FA;
}

.SubRoundHeaderLeft strong {
    color: #FFF000;
}

.bcmessage {
  animation: moveLeftToRight 30s linear infinite;
  position: absolute;
  top: 35px;
}

.RoundHeaderRightBlue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    height: 70px;
    padding-bottom: 5px;
    background: linear-gradient(to left, #FF9600, #FF9600, #FF960000);
    transform: skewX(-12deg);
    margin-right: -18px;
    padding-right: 30px;
    padding-left: 100px;
    color: #224374;
    text-transform: uppercase;
}

.RoundHeaderRightYellow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  height: 70px;
  background: linear-gradient(to left, #4a0069, #4a0069, #32085300);
  transform: skewX(-12deg);
  margin-right: -18px;
  padding-right: 30px;
  padding-left: 100px;
  color: #FFF000;
  text-transform: uppercase;
}

.RightTextStraight {
  transform: skewX(-12deg);
}

.BottomRightTag {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 15px;
  padding-right: 25px;
  margin-right: -6px;

  background-color: #4a0069;
  transform: skewX(-12deg);
  transition: all 0.5s ease-in-out;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position:left;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(-80vw);
  }
  100% {
    transform: translateX(180vw);
  }
}